<%= link_to "戻る", @user, class: "btn btn-outline-secondary btn-circle" %>
<h1>転職希望者情報編集</h1>
<p>* 入力必須項目</p>

<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :image, "履歴書写真" %>
        <%= f.file_field :image, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :name, "名前 *" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      

        <div class="form-group">
          <%= f.label :sex, '性別 *', class: 'form-label' %><br>
          <div class="sex btn-group" data-toggle="buttons">
            <label class="btn btn-outline-secondary" style="width:50%">
              <%= f.radio_button :sex, "男性" %> 男性
            </label>
            <label class="btn btn-outline-secondary" style="width:50%">
              <%= f.radio_button :sex, "女性" %> 女性
            </label>
          </div>
        </div>
        
      <div class="row">        
        <div class="form-group col-md-5">
          <%= f.label :birthday, "生年月日", class: 'form-label' %><br>
          <div class="form-inline">
            <%= raw sprintf(
                        f.date_select(
                          :birthday,
                          {
                            use_month_numbers: true,
                            start_year: 1930,
                            end_year: (Time.now.year - 18),
                            default: Date.new(1989, 1, 1),
                            date_separator: '%s'
                          },
                          { class: 'form-control col-md-3' }
                        ),
                        '年 ', '月 ') + '日' %>
          </div>
        </div>
        
        <div class="form-group col-md-4">
          <%= f.label :age, "年齢", class: 'form-label' %><br>
          <%= f.number_field :age, disabled: true, class: "form-control", style: "width:30%" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :address, "住所" %>
        <div class="row">
          <div class="col-md-2">
            <%= select_tag :prefecture_id,
                         options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]),
                         {
                           prompt: '都道府県で絞り込み',
                           class: 'form-control form-inilne'
                         }
            %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :address, class: "form-control form-inline", placeholder: "市区町村,番地等をいれて下さい" %>
          </div>
        </div>

      </div>
      
      <div class="form-group">
        <%= f.label :telephone, "電話番号" %>
        <%= f.text_field :telephone, class: "form-control" %> 
      </div>
    
      <div class="form-group">
        <%= f.label :email, "メールアドレス *" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :academic_background, "最終学歴" %>
        <%= f.text_field :academic_background, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :certification, "資格" %>
        <%= f.text_area :certification, class: "form-control", rows: 3, placeholder: 'オラクルマスターゴールド／日商簿記検定1級／秘書検定1級等、資格を続けてご記入ください'  %>
      </div>
      
      <div class="form-group">
        <span>スキル</span><br>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="form-check form-check-inline">
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :resume_file, "履歴書ファイル(pdf)" %>
            <%= f.file_field :resume_file, class: "form-control" %>
          </div>          
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :career_file, "職務経歴書ファイル(pdf)" %>
            <%= f.file_field :career_file, class: "form-control" %>
          </div>          
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :selfpr, "自己PR" %>
        <%= f.text_area :selfpr, :rows => "10", class: "form-control" %>
      </div>
      
      <div class="row">
        <div class="form-group col-md">
          <%= f.label :password, 'パスワード * (6文字以上12文字以下)' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      
        <div class="form-group col-md">
          <%= f.label :password_confirmation, 'パスワード(確認) *' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
    
      <div class="field text-left">
        <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
        <%= f.label '内容の変更に同意する' %>
      </div>
    </div>
  </div>
  <%= f.submit '投稿', class: "btn btn-outline-primary" %>
<% end %>

