<% if logged_in? %>
  <h1>
    転職希望者一覧
    <%= link_to "+ 新規転職希望者登録", signup_path, class: "btn btn-outline-primary align-items-center col-xs " %>
  </h1>
  
  <ul>
    <div class="container" id="search">
      <div class="row">
        <div class="col-md-2" id="pulldown">
          <div class="form-group">
            <%= form_tag users_path, method: :get, class: 'users__searchForm' do %>
              <%= select_tag :prefecture_id,
                             options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]),
                             {
                               prompt: '都道府県で絞り込み',
                               class: 'form-control users__select'
                             }
              %>
          </div>
        </div>
        <div class="col-md-2" id="pulldown">
          <div class="form-group">
            <%= form_tag users_path, method: :get, class: 'users__searchForm' do %>
              <%= select_tag :sex, options_for_select([["男性","男性"],["女性","女性"]], params[:sex]), prompt: '性別', class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-2" id="pulldown">
          <div class="form-group">
            <%= form_tag users_path, method: :get, class: 'users__searchForm' do %>
              <%= select_tag :tag_id,
                             options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                             {
                               prompt: 'スキルで絞り込み',
                               class: 'form-control users__select'
                             }
              %>
          </div>
        </div>
        <div class="col-md-5">
          <%= text_field_tag :search, params[:search], placeholder: "キーワード 例)自己PR 学歴 資格 (複数入力時スペース半角)", class: 'form-control' %>
        </div>
        <div class="col-md-1" id="search-button">
          <%= submit_tag '検索', class: 'btn btn-primary', name: nil, academic_background: nil %>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>

    <% @users.each do |user| %>
      <li class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-1">
                  <% if user.image.attached? %>
                    <%= image_tag user.image.variant(resize: "64x64!"), class: "img-thumbnail rounded-circle" %>
                  <% else %>
                    <%= image_tag "/person.png", class: "img-thumbnail rounded-circle" %>
                  <% end %>                
                </div>
                <div class="col-lg-2">
                  <%= user.name %>
                </div>
                <div class="col-lg-3">
                  <table>
                    <tbody>
                      <tr>
                        <th><i class="fas fa-venus-mars"></i></th>
                        <td><%= user.sex %></td>
                      </tr>
                      <tr>
                        <th><i class="fas fa-envelope"></i></th>
                        <td><%= user.email %></td>
                      </tr>
                      <% if user.academic_background.present? %>
                        <tr>
                          <th><i class="fas fa-user-graduate"></i></th>
                          <td><%= user.academic_background %></td>
                        </tr>
                      <% end %>
                      <% if user.certification.present? %>
                        <tr>
                          <th><i class="fas fa-award"></i></th>
                          <td><%= user.certification %></td>
                        </tr>
                      <% end %>
                      <% if user.prefecture.name.present? %>
                        <tr>
                          <th><i class="fas fa-map-marker-alt"></i></th>
                          <td><%= user.prefecture.name %></td>
                        </tr>
                      <% end %>
                      <% if user.tag.present? %>
                        <tr>
                          <th><i class="fas fa-wrench"></i></th>
                          <td>
                            <% user.tag.each do |tag| %>
                              <span class="badge badge-info"><%= tag.name %></span>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4">
                  <% if user.selfpr.present? %>
                    <p>自己PR</p>
                    <p><%= user.selfpr %></p>
                  <% end %>
                </div>
                <div class="col-xs-1">
                  <%= link_to "詳細", user_path(user), class: "btn btn-outline-info" %>
                  <%= link_to "編集", edit_user_path(user), class: "btn btn-outline-info" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate @users %>
  </ul>

<% else %>
  <%= render "sessions/login_form" %>
<% end %>