<% if logged_in? %>
<h1>転職希望者一覧</h1>

<ul>
  <% @users.each do |user| %>
    
    <li>
      <% if user.image.attached? %>
        <%= image_tag @user.image %>
      <% else %>
        <%= image_tag "/person.png", class: "rounded-circle" %>
      <% end %>
      <%= user.name %>
      <%= user.email %>
      <%= link_to "詳細", user_path(user), class: "btn btn-info" %>
      <%= link_to "削除", user, method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除してよろしいでしょうか？' } %>
    </li>
  <% end %>
</ul>

<% else %>
  <%= render "sessions/login_form" %>
<% end %>
  