<% if logged_in? %>
  <h1>
    転職希望者一覧
    <%= link_to "+ 新規転職希望者登録", signup_path, class: "btn btn-outline-primary align-items-center col-xs " %>
  </h1>
  
  <ul>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group ">
          <%= form_tag users_path, method: :get, class: 'users__searchForm' do %>
            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'スキルで絞り込み',
                             class: 'form-control users__select',
                             onchange: 'submit(this.form);'
                           }
            %>
          <% end %>
        </div>        
      </div>
      <div class="col-md-10">
        <%= form_tag(users_path, :method => 'get', class: "form-inline") do %>
            <%= text_field_tag :search, '', placeholder: "キーワード 例)性別, 自己PR, 学歴, 資格 (スペースは半角で)", class: 'form-control col-md-11' %>
            <%= submit_tag '検索', class: 'btn btn-primary col-md-1', name: nil, sex: nil, academic_background: nil %>
        <% end %>
      </div>
    </div>

    <% @users.each do |user| %>
      <li class="card-deck">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row align-items-center">
              <% if user.image.attached? %>
                <%= image_tag user.image.variant(resize: "64x64!"), class: "img-thumbnail rounded-circle" %>
              <% else %>
                <%= image_tag "/person.png", class: "img-thumbnail rounded-circle" %>
              <% end %>
                <div class="col-sm">
                  <%= user.name %>
                </div>
                <div class="col-sm">
                  <%= user.email %>
                </div>
                <div class="col-xs">
                  <%= link_to "詳細", user_path(user), class: "btn btn-outline-info" %>
                  <%= link_to "編集", edit_user_path(user), class: "btn btn-outline-info" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate @users %>
  </ul>

<% else %>
  <%= render "sessions/login_form" %>
<% end %>