<%= link_to "戻る", users_path, class: "btn btn-outline-secondary btn-circle" %>
<h1>新規転職希望者登録</h1>


<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">プロフィール(基本情報)</h3><p>* 入力必須項目</p>
      <table class="table">
      <tbody>
        <tr>
          <th style="width:20%"><i class="fas fa-camera"></i> 履歴書写真</th>
          <td>
            <div class="form-group">
              <%= f.file_field :image, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th style="width:20%"><i class="fas fa-user-alt"></i> 氏名 *</th>
          <td>
            <div class="form-group">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-venus-mars"></i> 性別 *</th>
          <td>
            <div class="form-group">
              <div class="sex btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary" style="width:50%">
                  <%= f.radio_button :sex, "男性" %> 男性
                </label>
                <label class="btn btn-outline-secondary" style="width:50%">
                  <%= f.radio_button :sex, "女性" %> 女性
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-birthday-cake"></i> 生年月日</th>
          <td>
            <div class="form-inline col-md-6" id="birthday">
              <%= raw sprintf(
                          f.date_select(
                            :birthday,
                            {
                              use_month_numbers: true,
                              start_year: 1930,
                              end_year: (Time.now.year - 18),
                              default: Date.new(1989, 1, 1),
                              date_separator: '%s'
                            },
                            { class: 'form-control col-md-3' }
                          ),
                          '年 ', '月 ') + '日' %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-map-marker-alt"></i> 現住所</th>
          <td>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '選択して下さい'}, { class: "form-control" } %>
                </div>
                <div class="col-md-10">
                  <%= f.text_field :address, class: "form-control form-inline", placeholder: "市区町村,番地等をいれて下さい" %>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-phone"></i> 電話番号</th>
          <td>
            <div class="form-group">
              <%= f.text_field :telephone, class: "form-control" %> 
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-envelope"></i> メールアドレス *</th>
          <td>
            <div class="form-group">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-user-graduate"></i> 最終学歴</th>
          <td>
            <div class="form-group">
              <%= f.text_field :academic_background, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-award"></i> 資格</th>
          <td>
            <div class="form-group">
              <%= f.text_area :certification, class: "form-control", rows: 3, placeholder: 'オラクルマスターゴールド／日商簿記検定1級／秘書検定1級等、資格を続けてご記入ください'  %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-wrench"></i> スキル</th>
          <td>  
            <div class="form-group">
              <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class="form-check form-check-inline">
                  <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-file-pdf"></i> 履歴書ファイル</th>
          <td>
            <div class="form-group">
              <%= f.file_field :resume_file, class: "form-control" %>
            </div>  
          </td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-file-pdf"></i> 職務経歴書ファイル</th>
          <td>
            <div class="form-group">
              <%= f.file_field :career_file, class: "form-control" %>
            </div>   
          </td>
        </tr>
        <tr>
          <th scope="row">パスワード * <br>(6文字以上12文字以下)</th>
          <td>
            <div class="form-group">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">パスワード確認</th>
          <td>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">自己PR</th>
          <td>
            <div class="form-group">
              <%= f.text_area :selfpr, class: "form-control", rows: "10", placeholder: "今までの経験を活かして「こんな仕事ができる」「役に立てる」というイメージしやすさをうまく表現できると非常に効果的です。" %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="form-last text-center">
    <div class="field">
      <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
      <%= f.label '利用規約、及び、個人情報の取扱に同意する' %>
    </div>
    <%= f.submit '投稿', class: "btn btn-outline-primary w-25" %>
  </div>
<% end %>

