<%= link_to "戻る", users_path, class: "btn btn-outline-secondary btn-circle" %>
<h1>
  転職希望者詳細
  <%= link_to "編集", edit_user_path(@user), class: 'btn btn-outline-info' %>
  <%= link_to "削除", @user, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-outline-danger' %>
</h1>

<div class="card">
  <div class="card-body">
    <h2 class="card-title"><%= @user.name %> | <%= @user.age %>歳 | <%= @user.prefecture.name if @user.prefecture_id.present? %></h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th style="width:20%">履歴書写真</th>
          <td>
            <% if @user.image.attached? %>
              <%= image_tag @user.image.variant(resize: "100x100!"), class: "img-thumbnail" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th style="width:20%">氏名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">性別</th>
          <td><%= @user.sex %></td>
        </tr>
        <tr>
          <th scope="row">生年月日</th>
          <td><%= @user.birthday.strftime('%Y年%m月%d日') if @user.birthday.present? %> (<%= @user.age %>歳)</td>
        </tr>
        <tr>
          <th scope="row">現住所</th>
          <td><%= @user.prefecture.name if @user.prefecture_id.present? %> <%= @user.address %></td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td><%= @user.telephone %></td>
        </tr>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row">最終学歴</th>
          <td><%= @user.academic_background %></td>
        </tr>
        <tr>
          <th scope="row">資格</th>
          <td><%= @user.certification %></td>
        </tr>
        <tr>
          <th scope="row">スキル</th>
          <td>  
            <% @user.tag.each do |tag| %>
              <span class="badge badge-info"><%= tag.name %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">履歴書ファイル</th>
          <td><%= link_to "履歴書プレビュー", rails_blob_path(@user.resume_file, disposition: "resume_file") if @user.resume_file.attached? %></td>
        </tr>
        
        <tr>
          <th scope="row">職務経歴書ファイル</th>
          <td><%= link_to "職務経歴書プレビュー", rails_blob_path(@user.career_file, disposition: "career_file") if @user.career_file.attached? %></td>
        </tr>
    
        <tr>
          <th scope="row">自己PR</th>
          <td><%= @user.selfpr %></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>