<%= link_to "戻る", @company, class: "btn btn-outline-secondary btn-circle" %>
<h1>企業情報編集</h1>

<%= form_for(@company) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">基本情報編集</h3><p>* 入力必須項目</p>
    <table class="table">
      <tbody>
        <tr>
          <th style="width:20%">アイコン</th>
          <td>
            <div class="form-group">
          　   <%= f.file_field :image, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th style="width:20%">企業名 *</th>
          <td>
            <div class="form-group">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">設立年 *</th>
          <td>
            <div class="form-inline col-md-6" id="birthday">
                <%= raw sprintf(
                          f.date_select(
                            :established_yearmonth,
                            {
                              use_month_numbers: true,
                              start_year: 1930,
                              discard_day: true,
                              date_separator: '%s'
                            },
                            { class: 'form-control col-md-3' }
                            ),
                          '年 ') + '月' %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">代表者名</th>
          <td>
            <%= f.text_field :ceo, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th scope="row">従業員数</th>
          <td>
            <div class="form-group">
              <%= f.text_field :employees, class: "form-control" %> 人
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">資本金</th>
          <td>
            <div class="form-group">
              <%= f.text_field :capital_stock, class: "form-control" %> 円
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">電話番号</th>
          <td>
            <div class="form-group">
              <%= f.text_field :telephone, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">本社住所</th>
          <td>
            <div class="form-group">
              <%= f.text_field :headquarter_address, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">事業内容</th>
          <td>
            <div class="form-group">
              <%= f.text_area :business_description, class: "form-control" %>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">ホームページ</th>
          <td>  
            <div class="form-group">
              <%= f.text_field :homepage, class: "form-control" %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="form-last text-center">
    <%= f.submit '編集', class: "btn btn-outline-primary w-25" %>
  </div>
<% end %>