<h1>企業情報編集</h1>

<%= form_for(@company) do |f| %>
  <div class="form-group">
    <%= f.label :name, "企業名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :established_yearmonth, "設立年" %>
    <%= f.date_select :established_yearmonth, {discard_month: true}, {discard_day: true} %> 年 <%= f.date_select :established_yearmonth, {discard_year: true}, {discard_day: true} %> 月
  </div>
  
  <div class="form-group">
    <%= f.label :ceo, "代表者" %>
    <%= f.text_field :ceo, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :employees, "従業員数" %>
    <%= f.text_field :employees, class: "form-control" %> 人
  </div>

  <div class="form-group">
    <%= f.label :capital_stock, "資本金" %>
    <%= f.text_field :capital_stock, class: "form-control" %> 円
  </div>

  <div class="form-group">
    <%= f.label :telephone, "電話番号" %>
    <%= f.text_field :telephone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :headquarter_address, "本社住所" %>
    <%= f.text_field :headquarter_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :homepage, "ホームページ" %>
    <%= f.text_field :homepage, class: "form-control" %>
  </div>
  
  <%= f.submit '投稿', class: "btn btn-primary" %>
<% end %>