<% if logged_in? %>
<h1>
  企業一覧
  <%= link_to "+ 新規企業登録", new_company_path, class: "btn btn-outline-primary align-items-center col-xs " %>
</h1>

<ul>
  <% @companies.each do |company| %>
    <li class="card-deck">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row align-items-center">
              <% if company.image.attached? %>
                <%= image_tag company.image.variant(resize: "64x64!"), class: "img-thumbnail rounded-circle" %>
              <% else %>
                <%= image_tag "/company.png", class: 'img-thumbnail rounded-circle' %>
              <% end %>
              <div class="col-sm">
                <%= company.name %>
              </div>
              <div class="col-sm">
                <%= company.telephone %>
              </div>
              <div class="col-xs">
                <%= link_to "詳細", company_path(company), class: "btn btn-outline-info" %>
                <%= link_to "編集", edit_company_path(company), class: "btn btn-outline-info" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
  <%= paginate @companies %>
<% else %>
  <%= render "sessions/login_form" %>
<% end %>